
*{
  font-family: 'Google Sans', sans-serif;
}
input[type=text] {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 5px;
}
input::selection {
  background: #FFF; /* WebKit/Blink Browsers */
}
input::-moz-selection {
  background: #FFF; /* Gecko Browsers */
}



.button {
    background-color: #242424;
    border: none;
    color: #eeeeee;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    border-radius: 8px;
  }
  .h1
  {
    font-weight: 300;
  }
  a {
    color:#000000;
    text-decoration: none;    
    }

  a:hover {
    color:#2f6a51;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
