<html>
   <head>
      <title>All Domain</title>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Google+Sans" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
  </head>
   <body>
    
      <center>
         <br><br>
      <h1>All Visited Domains</h1>
      <br><br>
      {% for d in result %}
      <img src="{{d["imageurl"]}}"><br><br><br>
             Domain:  {{ d["Domain Name"] }} <br><br>
             Expires on <span></span> {{ d["Expires on"] }}<br><br>
             Created on <span></span> {{ d["Created on"] }}<br><br>
             Belongs to <span></span> {{ d["Belongs to"] }} <br><br>
             Country: <span></span> {{ d["Country"] }} <br><br>
             Registrar: <span></span> {{ d["Registrar"] }} <br><br><br><br><br>
      {% endfor %}
    </center>
    <!-- <center>
      <h1>All Visited Domains</h1>
       <table border="0">
          <tr>
             <th>Logo</th>
             <th>Domain</th>
             <th>Expiry</th>
             <th>Created</th>
             <th>Owner</th>
             <th>Country</th>
             <th>Register</th>
          </tr>
         {% for d in result %}
          <tr>
            <td> <img src="{{d["imageurl"]}}"> </td>
            <td> {{ d["Domain Name"] }} </td> 
            <td> {{ d["Expires on"] }} </td>
            <td> {{ d["Created on"] }} </td>
            <td> {{ d["Belongs to"] }} </td>
            <td> {{ d["Country"] }} </td>
            <td> {{ d["Registrar"] }} </td>
          </tr>
         {% endfor %}
       </table>
    </center> -->
   </body>
</html>
