<html>
    <head>
        <title>Domain Tracker</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Google+Sans" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
    </head>
    <body>
        <center>
            <br><br><br>
            <br><br><br>
            <br><br>
            <h1 style=font-size:34px>Domain Tracker</h1>
            <br><br>
            
        <form action="/domaindetails" method="POST" autocomplete="off">
            <input type="text" name="url" placeholder="Enter a valid domain name" style="width: 300px;" required>
            <br>
            <br><br><br>
            <input type="submit" value="Check" class="button">
        </form>
        <br><br>
        </center>
    </body>
</html>
